<ion-header>
  <ion-navbar>
    <ion-title text-center>news</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="list">

    <div class="list_body" *ngFor="let list of news">
      <div class="list_left">
        <img src="{{list.img}}" alt="" (click)="OpenUrl(list.link)">
      </div>
      <div class="list_right">
        <div class="title">
          <h6 mr2_line (click)="OpenUrl(list.link)">{{list.title}}</h6>
        </div>
        <div class="date">
          <ion-label color="text-secondary" no-margin (click)="OpenUrl(list.link)">{{list.date}}</ion-label>
        </div>
      </div>
    </div>

  </div>

</ion-content>