<ion-content padding>

  <div content_center text-center>
    <div class="loadin_content">
      <ion-spinner name="crescent"></ion-spinner>
      <ion-label color="text-secondary">Menunggu...</ion-label>
      <!-- <ion-label color="text-secondary">Please wait, we preparing your data...</ion-label> -->
    </div>
  </div>
</ion-content>